statemachine/domain-scanner.asl.json
{
    "Comment": "Scans a domain (resolves IP, matches known provider ranges, saves result)",
    "TimeoutSeconds": 60,
    "StartAt": "ResolveDomainIP",
    "States": {
      "ResolveDomainIP": {
        "Type": "Task",
        "Resource": "${ResolveIPFunction}",
        "ResultPath": "$.ipaddress",
        "Next": "ScanDomain",
        "Catch": [
          {
            "ErrorEquals": [
              "Exception"
            ],
            "ResultPath": "$.error-info",
            "Next": "WriteResult"
          }
        ]
      },
      "ScanDomain": {
        "Type": "Parallel",
        "Branches": [
          {
            "StartAt": "LookupProvider",
            "States": {
              "LookupProvider": {
                "Type": "Task",
                "Resource": "${FindIPProviderFunction}",
                "ResultPath": "$.provider",
                 "End": true
              }
            }
          },
          {
            "StartAt": "CheckHTTPResponse",
            "States": {
              "CheckHTTPResponse": {
                "Type": "Task",
                "Resource": "${CheckHTTPResponseFunction}",
                "ResultPath": "$.httpResponse",
                 "End": true
              }
            }
          }
        ],
        "Next": "AggregateResults"
      },
      "AggregateResults": {
        "Type": "Pass",
        "Parameters": {
          "domain.$": "$[0].domain",
          "ipaddress.$": "$[0].ipaddress",
          "provider.$": "$[0].provider",
          "httpResponse.$": "$[1].httpResponse"
        },
        "Next": "WriteResult"
      },
      "WriteResult": {
        "Type": "Task",
        "Resource": "${SaveScanResultFunction}",
        "End": true
      }
    }
  }