statemachine/domain-scanner.asl.json
{
    "Comment": "Scans a domain (Resolves domain IP, matches known provider ranges, etc. and saves result)",
    "TimeoutSeconds": 60,
    "StartAt": "ResolveDomainIP",
    "States": {
      "ResolveDomainIP": {
        "Type": "Task",
        "Resource": "${ResolveIPFunction}",
        "ResultPath": "$.ipAddress",
        "Next": "AnalyzeDomain",
        "Catch": [
          {
            "ErrorEquals": [
              "Exception"
            ],
            "ResultPath": "$.error-info",
            "Next": "WriteResult"
          }
        ]
      },
      "AnalyzeDomain": {
        "Type": "Parallel",
        "Branches": [
          {
            "StartAt": "LookupProvider",
            "States": {
              "LookupProvider": {
                "Type": "Task",
                "Resource": "${FindIPProviderFunction}",
                "ResultPath": "$.ipProvider",
                 "End": true
              }
            }
          },
          {
            "StartAt": "CheckHTTPResponse",
            "States": {
              "CheckHTTPResponse": {
                "Type": "Task",
                "Resource": "${CheckHTTPResponseFunction}",
                "ResultPath": "$.httpResponse",
                "Next": "ScanRedirect"
              },
              "ScanRedirect": {
                "Type": "Task",
                "Resource": "${ScanRedirectFunction}",
                "ResultPath": null,
                "End": true
              }
            }
          }
        ],
        "Next": "AggregateResults"
      },
      "AggregateResults": {
        "Type": "Pass",
        "Parameters": {
          "domain.$": "$[0].domain",
          "ipAddress.$": "$[0].ipAddress",
          "ipProvider.$": "$[0].ipProvider",
          "httpResponse.$": "$[1].httpResponse"
        },
        "Next": "WriteResult"
      },
      "WriteResult": {
        "Type": "Task",
        "Resource": "${SaveScanResultFunction}",
        "End": true
      }
    }
  }